#contact iframe
{
    width: 100%;
}
.contact_1 h3
{
    display: inline;
}
.contact_1 a
{
    text-shadow: none;
}
 
input
{
    background: grey
}
.travel_mainDiv {
    border: 1px solid;
    padding-left: 0px;
    padding-right: 0px;
    float: none;
}
.Enviorment_li{
    margin-top: 13;

}
.Enviorment_li h4{
    border-bottom: 1px solid white;
}

